In [24]:
import sqlite3
import pandas as pd

In [25]:
conn = sqlite3.connect('Base_prueba')
cursor = conn.cursor()

In [26]:
DF=pd.DataFrame([1,1,2,3,5,8,13,21,34])

In [29]:
cursor = conn.cursor()

In [31]:
pd.read_sql('SELECT * FROM fibo', con=conn)

   index   0
0      0   1
1      1   1
2      2   2
3      3   3
4      4   5
5      5   8
6      6  13
7      7  21
8      8  34

In [32]:
DF= pd.read_json("https://www.datos.gov.co/resource/d7zw-hpf4.json?$limit=100000")
DF

,fecha_hecho,cod_depto,departamento,cod_muni,municipio,tipo_delito,cantidad
0,1996-01-01T00:00:00.000,5,ANTIOQUIA,5042,SANTAFE DE ANTIOQUIA,SECUESTRO SIMPLE,1
1,1996-01-01T00:00:00.000,25,CUNDINAMARCA,25290,FUSAGASUGA,SECUESTRO EXTORSIVO,1
2,1996-01-02T00:00:00.000,5,ANTIOQUIA,5038,ANGOSTURA,SECUESTRO EXTORSIVO,1
3,1996-01-02T00:00:00.000,68,SANTANDER,68001,BUCARAMANGA,SECUESTRO EXTORSIVO,1
4,1996-01-02T00:00:00.000,5,ANTIOQUIA,5088,BELLO,SECUESTRO EXTORSIVO,1
...,...,...,...,...,...,...,...
28015,2025-04-16T00:00:00.000,5,ANTIOQUIA,5440,MARINILLA,SECUESTRO EXTORSIVO,1
28016,2025-04-16T00:00:00.000,5,ANTIOQUIA,5440,MARINILLA,SECUESTRO EXTORSIVO,1
28017,2025-04-16T00:00:00.000,19,CAUCA,19001,POPAYAN,SECUESTRO EXTORSIVO,1
28018,2025-04-16T00:00:00.000,19,CAUCA,19001,POPAYAN,SECUESTRO EXTORSIVO,1
28019,2025-04-21T00:00:00.000,5,ANTIOQUIA,5001,MEDELLIN,SECUESTRO EXTORSIVO,1